@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto+Slab:400,700");

:root 
{
  font-size: calc(0.5vw + 1vh);
}

* 
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body 
{
  min-width: 420px;
  background-color: #3a3c4b;
}

h1
{
  text-align: center;
  color: #fa7070;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  text-decoration-color: #6fabd3;
  font-style: italic;
}

h4 
{
  font-family: "Arimo", sans-serif;
  line-height: 1.3;
  font-style: italic;
}

header h1 
{
  font-size: 2.4rem;
  margin: 4rem auto;
}

span 
{
  font-size: 3rem;
}

p 
{
  font-family: "Roboto Slab", serif;
}

a,
a:link,
a:active,
a:visited 
{
  color: #0066aa;
  text-decoration: none;
  border-bottom: #000013 0.16rem solid;
}

a:hover 
{
  color: #7070b9;
  border-bottom: #719ebd 0.16rem solid;
}

header,
footer {
  width: 40rem;
  margin: 2rem auto;
  text-align: center;
}

.add-task-container 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40rem;
  height: 5.3rem;
  margin: auto;
  background: #a8a8a8;
  border: #fdfdfd 0.2rem solid;
  border-radius: 6px;
  padding: 0.4rem;
}

.select
{
  margin: auto;
  height: 2.5rem;
  background-color: rgb(73, 68, 68);
  color: #ffffff;
  border-color: #000000;
  border-radius: 6px;
  border-width: 2px;
}

.main-container 
{
  display: flex;
}

.columns 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1.6rem auto;
}

/* column style */
.column 
{
  width: 8.4rem;
  margin: 30px 30px;
  background: #e2dddd;
  border: #757571 4px solid;
  border-radius: 6px;
}

/* column header style */
.column-header 
{
  padding: 0.1rem;
  border-bottom: #757571 4px solid;
}

.column-header h4 
{ 
  text-align: center;
  color:#000000;
}

/* header background of "to do" column */
.to-do-column .column-header 
{ 
  background: #aa4903;
}

/* header background of "doing" column */
.doing-column .column-header 
{ 
  background: #a19f04;
}

/* header background of "done" column */
.done-column .column-header 
{ 
  background: #078503;
}

/* header background of "trash" column */
.trash-column .column-header 
{ 
  background: #9c0606;
}

/* size of colums (without item) */
.task-list 
{ 
  min-height: 3rem;
  
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li 
{
  list-style-type: none;
}

.column-button 
{
  text-align: center;
  padding: 0.1rem;
}

/* button border/color text */
.button 
{ 
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  border: #770577 3px solid;
  border-radius: 0.2rem;
  color: #000000;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

/* delete button */
.delete-button 
{
  background-color: #960b0b;
  margin: 0.1rem auto 0.6rem auto;
}

.delete-button:hover 
{
  background-color: #d30707;
}
/* button add new task */
.add-button 
{ 
  background-color: #33b5e9;
  padding: 0 1rem;
  height: 2.8rem;
  width: 10rem;
  margin-top: 0.6rem;
}

.add-button:hover 
{
  background-color: #0952a5;
}

/* task in columns */
.task 
{
    background: rgb(153, 147, 147);
    margin: 0.4rem;
    height: auto;
    border: #000013 0.15rem solid;
    border-radius: 0.2rem;
    cursor: move;
    word-wrap: break-word;
    resize: none;
    width: auto;
}

/* box "new task..." */
#taskText 
{
    color: #fafafa;
    background: rgb(73, 68, 68);
    border: #000000 0.15rem solid;
    border-radius: 4px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    height: 4rem;
    width: 7rem;
    margin: auto 0.8rem auto 0.1rem;
}

.task p 
{
  margin: auto;
}
